@import url('https://fonts.googleapis.com/css?family=Lato');
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
/* *{
	border: 1px solid black;
} */
body, html {
			padding: 0;
			margin: 0px;
			/* font-family: 'Lato', sans-serif; */
			font-family: "Comfortaa", Helvetica, Arial, sans-serif;
      height: 100vh;
      background: #fafafa;
			color: #4A4E69;
		}
main {
	width: 100%;
	display: inline-block;
}

header{
	position: relative;

	background: #2e4058;

	display: flex;
	position: fixed;
	z-index: 500;
	width:100%;
	height: 60px;
	color:white !important;

	border-bottom: 1px solid white;

	/* border-bottom: 1px solid white; */
}


#menu a{
	text-decoration: none !important;
	color: white !important;
}
#menu a:visited{
	color: white !important;
}

nav > ul li a::before {
  background: #fff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0%;
  transition: 0.5s;
}
	nav > ul li a:hover::before{
	width: 100%;
	}

	nav{
	margin-top: -27px;
	/* border: 1px solid #d3d3d3 !important; */
	}

	#menuToggle
	{
		display: block;
	  position: relative;
	  top: 50px;
	  left: 0;

	  z-index: 1;

	  -webkit-user-select: none;
	  user-select: none;
		/* margin-left: 15px; */
		margin-left: 15px;
	}

	#menuToggle input {
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;

	  cursor: pointer;

	  opacity: 0;
	  z-index: 2;

	  -webkit-touch-callout: none;
	}

	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;

	  /* background: #4A4E69; */
		background: white;
	  border-radius: 3px;

	  z-index: 1;

	  transform-origin: 4px 0px;

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
		background: white;
	}

	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}


	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	#menu
	{
		color: #fff;
	  position: absolute;
	  width: 134px;
	  margin: 10px 0px 0 -40px;
	  padding: 45px 60px 50px;
	  background: #ededed;
	  background: #2e4058;
	  /* background-color: rgba(0, 0, 0, 0.6); */
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  -webkit-transform-origin: 0 0;
	  transform-origin: 0 0;
	  -webkit-transform: translate(-100%);
	  transform: translate(-100%);
	  transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
	  transition: transform .5s cubic-bezier(.77,.2,.05,1);
	  transition: transform .5s cubic-bezier(.77,.2,.05,1),-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
		border-bottom: 1px solid white;
		border-right: 1px solid white;
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}

	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}

	#menu li:hover{
		color:white;
		transition: all .2s ease-in-out;
	}
	.menulist:hover{
		color: #8e97a5;
		transition: all .2s ease-in-out;
	}
.title{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.title h1{
	color: white;
	font-size: 76px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 0;
}
.title p{
	color: white;
	font-size: 35px;
	text-align: center;
}
.title button{
	color: white;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-size: 27px;
}
button:focus {
	outline:0;
}
.title button:hover{
	background-color: white;
	color:black;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.title a{
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}
.title a:hover{
	color: black;
}

.home{
  font-family: 'Orbitron', sans-serif;
	/* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn-images-1.medium.com/max/1920/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg")  no-repeat center; */
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("http://www.dylanjpierce.com/assets/img/header-bg.jpg")  no-repeat center;
	 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
	display: flex;
  justify-content: center;
  align-items: center;
}

.head{
  height:100vh;
  font-family: 'Orbitron', sans-serif;
}

.divider{
  font-family: 'Orbitron', sans-serif;
  background: transparent url('https://ak6.picdn.net/shutterstock/videos/21056476/thumb/1.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30vh;
  overflow: hidden;
}
.experience {
	/* padding-top: 100px; */
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: #2e4058;
	background-color: #c4c4c4;

}

.experience h1{
	display: flex;
	justify-content: center;
	font-size: 60px;
	margin-bottom: 0;
	margin-top: 0;
}
.experience p{
	width: 920px;
	text-align: center;
	line-height: 1.8;
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.projects h1{
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
	margin-top: 70px;
	font-size: 60px;
}
.projects p{
	max-width: 300px;
}
.content button{
	border: 1px solid #4A4E69;
}

.card{
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	/* clip-path:polygon(0 0%, 91% 7%, 100% 90%, 16% 99%; */
	padding: 65px 10px;
	display: flex;
	justify-content: center;
}

.top{
	display:flex;
	margin-bottom: 20px;
	flex-direction: column;
}
.bottom{
	display:flex;
	margin-bottom: 20px;
	flex-direction: column;
}

.card-img{
	max-width:30%;
	align-self: center;
	margin-right: 20px;
}
.card-img:hover .overlay{
}

#card-three, #card-one{
	/* background: #c4c4c4 !important; */

	background: #2e4058!important;
  color: white;
}

#card-title{
	font-weight: bold !important;
	margin-bottom: 0;
}

.social-btn{
	max-width: 25%;
	margin-left: 10px;
	margin-right: 10px;
}
.profile-pic{
  border-radius: 25px;
	width:130px;;
	/* border-radius: 365px;
	width: 15%; */
}

.contact{
	padding-top: 50px;
	align-self: center;
	width: 270px;
}

h3{
	font-size: 13px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 100px;
}

.content{
	display: flex; */
	align-items: center;
	justify-content: center;
	flex-direction: column;

	align-items: center;
}

.side-arrow{
	font-size: 440px;
	color:white;
}
.skills{
	/* width: 220px; */

}

.skills-logo{
	width:5%;
	margin-right:5px;
	margin-left: 5px;
}
.css3-logo{
	width: 50px;
	margin-right:5px;
	margin-left: 5px;
}
.html-logo{
	width:71px;
	margin-right:5px;
	margin-left: 5px;
}
.react-logo{
	width: 123px;
	margin-right:5px;
	margin-left: 5px;
}
.node-logo{
	width:100px;
	margin-right:5px;
	margin-left: 5px;
}
.express-logo{
	width:140px;
	margin-right:5px;
	margin-left: 5px;
}
.postres-logo{
width:150px;
margin-right:5px;
margin-left: 5px;
}
.jq-logo{
width:65px;
margin-right:5px;
margin-left: 5px;
}

.exp-page{
	padding-top: 50px;
	padding-bottom:50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: #2e4058;
	background-color: #c4c4c4;


	border-bottom: 5px solid #2e4058;
	border-top: 5px solid white;
}

/* .exp-page .line{
	width: 8%;
} */

.line{
	border-top: 1px solid #2e4058;
	width: 15%;
	margin:auto;
	margin-bottom: 25px;
}
h2{
	margin-bottom:0;
}
h1{
  margin-bottom: 10px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 30%; */
	align-items: center;
}
label{
	margin-top: 15px;
	align-self: end;
}
form input{
	width: 500px;
	height:38px;
	border:none;
	margin-top:5px;
}
textarea{
	width:500px;
	height:150px;
	border:none;
	font-size: 15px;
	margin-top: 5px;
}
input[type="text"], [type="email"]{
  font-size: 15px;
}
input[type="submit"]{
	margin-top:15px;
	width: 100px;
	align-self: flex-end;
	font-size: 17px;

}


.contact-page{
	border-top: 5px solid white;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	color: #2e4058;
  background-color: #c4c4c4;
}
.contact-page h2{
	margin-bottom:10px;
}
.contact-page .line{
		width: 8%;
}

.footer{
	padding-top: 50px;
  padding-bottom: 80px;
	background-color: white;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 920px){
	.experience p {
    width: 85%;
}
}

@media screen and (max-width: 500px) {
	.footer{
		padding-top:0;
	}
	textarea{
		width: 300px;
	}
	form input{
		width: 300px;
	}
	h1{
		margin-bottom:5px;
	}
	.exp-page{
		flex-direction: column;
	}
	#mellow-card, #hurdles-card{
		flex-direction: column-reverse !important;
	}

   .experience p{
    width: 85%;
  }
	.card-img{
		max-width: 50% !important;
	}
	.card{
		flex-direction:column !important;
	}
	.content{
		align-self: center;
		text-align: center;
	}
	/* .social-btn{
		max-width: 15%;
	} */
	.experience h1{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 40px;
		margin-top: 0;
	}
	.profile-pic{
		/* margin-top:20px; */
		max-width: 40%;
	}
	.experience{
		/* padding-top: 100px; */
	}
	.title button{
		color: white;
		text-align: center;
		font-weight: 300;
		background-color: #4A4E69;
		font-size: 27px;
	}

	/* #menu{
		 width: 1270%;
	} */
}
.container-arrow{
	margin-top: -20px;
	font-weight: bold;
	text-transform: uppercase;
	color:white;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	position: absolute;
	bottom:0;left:0;
	z-index: 10;
	width:100%;
	padding-bottom: 15px;
	cursor: pointer;
	font-size: 12px;
}
.title button{
	display: none;
}
#arrow p{
	margin-top:0;
	margin-bottom:90px;
	font-size: 140px;

}


.container-arrow span{  display: inline-block; font-size: 80px;	 animation: .7s down  infinite alternate; -webkit-animation: .7s down infinite alternate; }

@keyframes down{ 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} }
@-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(20px)} }
@media screen and (max-width:370px){
	h3{
		margin-top:100px;
	}

}
